.App-header{
  margin: 0px auto;
  padding: 50px 50px;
  text-align: center;
}

footer{
  padding: 20px 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
