.App{
display: block;
margin: 0 auto;
padding: 60px 60px;
max-width: 960px;

}

.App-footer{
  padding: 20px 20px;
  text-align: center;
}
.App header{
  font-size: 37px;
  font-weight: bold;
  text-align: center;
}